body {
  font-family: "Times New Roman", Times, serif;
  font-size:13px;
}

td {
	font-family: "Times New Roman", Times, serif;
	font-size:13px;
	padding-left:5;
	padding-right:5;
}

th {
	font-family: "Times New Roman", Times, serif;
	font-size:13px;
	
}